/*-----Google Poppins font-----*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #333;
}

.container {
  max-width: 700px;
  width: 100%;
  padding: 25px;
  background: #fff;
  border-radius: 10px;
  box-sizing: 0 0 10px rgba(0, 0, 0, 0.3);
}

.container header {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  color: #333;
}

.container .form{
  margin-top: 30px;
} 

.form .input-box{
  width: 100%;
  margin-top: 20px;
}

.input-box label{
  color: #333;
}

.form .input-box input{
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1.2rem;
  color: #707070;
  border-radius: 7px;
  border: 1px solid #ddd;
  padding: 0 15px;
  margin-top: 7px;
}

.form .column{
  display: flex;
  column-gap: 15px;

}
.gender-box h3{
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
  margin-top: 10px;
}

.gender-box input, label{
  padding-right: 20px;
  cursor: pointer;
}

 .form input[type="submit"]{
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  padding: 7px;
  margin-top: 10px;
  width: 100%;
  background: #3498db;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
/* Responsive */
@media  screen and (max-width: 560px) {
  .form .column {
    flex-wrap: wrap;
  }
}

